/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

.player_one{
	width: 90%;
	list-style-type: none;
	height: 20%;
	background-color: #FFFFFF;
	border: 1px solid black;
}
audio{
	width: 318px;
}
video{
	margin-top: 10px;
}
.player_two {
	margin: auto;
	width: 60%;
	background-color: #FFFFFF;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 20px;
}